# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml

# gradle
build
.gradle
.idea

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

#personal file
modstoml_with_forge_template_mod_descriptions.toml
/.idea/
